
.skip-links {
    position: absolute;
    left: -9999px;
}

.skip-links:focus {
    left: 0;
    top: 0;
    background: #000000;
    color: #ffffff;
    padding: 1em;
    z-index: 1000;
}
  

  
  #hero {
    background-image: url(../images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #999;
}
 
#hero .d-flex {
    height: 70vh;
}

#about {
    background-image: url(../images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #999;
}
#about .d-flex {
    height: 70vh;
}
#contactus {
    background-image: url(../images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #999;
}
#contactus .d-flex {
    height: 70vh;
}




  
